 # Dependency directories
/node_modules/
/dist/
/build/
 # Optional npm cache directory
.npm
 # dotenv environment variables file
/.idea/
.DS_Store

.env

#AWS CodePipeline
buildspec.yml
imagedefinitions.json
